* {
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#wrap {
    border: 1px solid red;
}
#header {
    border: 1px solid green;
    height: 216px;
}
#container {
    border: 1px solid blue;
    height: 2308px;
}
#footer {
    border: 1px solid magenta;
    height: 430px;
}

/* margin 관련 */
.mg-x-15{
    margin: 0 15%;
}
.mg-l-10{
    margin-left: 10px;
}


/* flex 관련 */
.flex-row{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}